<h1>Add a New House</h1>

<div class="form">
	<%= form_for @house do |f|%>
	<%= f.label "House Name" %><br>
	<%= f.text_field :name, required: true %><br>

	<%= f.label "House Words" %><br>
	<%= f.text_field :words, required: true %><br>

	<%= f.label "Sigil Photo"%><br>
	<%= f.text_field :sigil_url %><br>

	<%= f.label "Castle Name"%><br>
	<%= f.text_field :castle, required: true %><br>

	<%= f.submit %>
<%end%>
</div>
