<h1><%= @house.name %></h1>
<div>
	<%= image_tag @house.sigil_url %>
	<h2><%= @house.words%></h2>
	<h3>Castle: <%= @house.castle%> </h3>
</div>

<% @house.characters.each do |person| %>
	<p><%= link_to person.name, house_character_path(@house,person)%></p>
<%end%>
<%= link_to "Add Character to House", new_house_character_path(@house) %>
<%= link_to "Edit House", edit_house_path(@house)%>

