<h1>Edit <%=@person.name%></h1>


<div class="form">
	<%= form_for [@house,@person] do |f|%>
		<%= f.label "Name"%><br>
		<%= f.text_field :name, required: true %><br>

		<%= f.label "Titles "%><br>
		<%= f.text_field :title %><br>

		<%= f.label "Image Url"%><br>
		<%= f.text_field :img_url %><br>

		<%= f.submit %><br>
		<%end%>

	<%= form_for [@house,@person], method: :delete do |f|%>
		<%=f.submit "Delete this Person",class: "gone"%>
	<%end%>


</div>
