<h1>New Character</h1>

<div class="form">
	<%= form_for [@house,@person] do |f|%>
		<%= f.label "Name"%><br>
		<%= f.text_field :name, required: true %><br>

		<%= f.label "Titles "%><br>
		<%= f.text_field :title %><br>

		<%= f.label "Image Url"%><br>
		<%= f.text_field :img_url %><br>

		<%= f.submit %><br>
	<%end%>
</div>
